[submodule "core/src/main/jni/re2"]
	path = core/src/main/jni/re2
	url = https://github.com/ssrlive/re2.git
	branch = main
[submodule "core/src/main/jni/ssrNative"]
	path = core/src/main/jni/ssrNative
	url = https://github.com/ShadowsocksR-Live/shadowsocksr-native.git
	branch = master
[submodule "rust/overtls"]
	path = rust/overtls
	url = https://github.com/ShadowsocksR-Live/overtls.git
	branch = master
[submodule "rust/tun2proxy"]
	path = rust/tun2proxy
	url = https://github.com/blechschmidt/tun2proxy.git
	branch = master
[submodule "core/src/main/jni/fake-dlfcn"]
	path = core/src/main/jni/fake-dlfcn
	url = https://github.com/ssrlive/fake-dlfcn.git
	branch = master
